<div class="mg-sub-nav-container">
    <div class="mg-sub-nav">
        <div [ngClass]="{'mg-sub-nav-top':!sub.children,'mg-sub-nav-bottom':!!sub.children}" *ngFor="let sub of navSubModels; let i = index;" (click)="selectSubNav()">
            <button *ngIf="!sub.children" (click)="selectSubNav(sub.nameKey, sub.url, sub.showInDashboard)">
                {{('go.common.' + sub.nameKey) | translate}}
                </button>
            <div *ngIf="!!sub.children">
                <div [ngClass]="{'mg-nav-first':i ==0, 'mg-nav-second':i == 1, 'mg-nav-last':i == 2}">
                    <div class='mg-second-title'>{{('go.common.' + sub.nameKey) | translate}}</div>
                    <div class='mg-second-div' *ngFor='let child of sub.children' class='mg-basic-setting' (click)="selectSubNav()">
                        <button (click)="selectSubNav(sub.nameKey, sub.url, sub.showInDashboard)">{{('go.common.' + child.nameKey) | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>