<div class="mg-sub-nav-container">
    <div class="mg-sub-nav">
        <div [ngClass]="{'mg-sub-nav-top':!sub.children,'mg-sub-nav-bottom':!!sub.children}" *ngFor="let sub of navSubModels; let i = index;">
            <a *ngIf="!sub.children" href='###'>
                {{('go.common.' + sub.nameKey) | translate}}
                </a>
            <div *ngIf="!!sub.children">
                <div [ngClass]="{'mg-nav-first':i ==0, 'mg-nav-second':i == 1, 'mg-nav-last':i == 2}">
                    <div class='mg-second-title'>{{('go.common.' + sub.nameKey) | translate}}</div>
                    <div class='mg-second-div' *ngFor='let child of sub.children' class='mg-basic-setting'>
                        <a href='###'>{{('go.common.' + child.nameKey) | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>