<div class="mg-ititle" style="height:60px;">
    <div class="content" style="padding-left:20px">
        <div class="title" style="width:500px;">
            <span class="mg-title-text" style="font-size: 30px;"> 我的美记</span>

            <!--帐户管理-->
            <p-splitButton label="增加组织" [model]="addOrgButtonList"></p-splitButton>
            <!--银行/现金/信用卡帐户-->
        </div>
        <div class="info" style="padding:1px 3px;margin-top:10px">

            <span class="mg-bold">您好，欧阳万里，</span> 您上次登录的组织是 <a class="mg-login-info" href="###">DemoCompany</a>。
        </div>
    </div>
    <div class="action" style="margin-right:20px;">
        <a href="javascript:void(0)" class="m-data-grid" style="padding-right: 15px;">&nbsp;</a>
        <a href="javascript:void(0)" class="m-data-list-current">&nbsp;</a>
    </div>
</div>
<div class="mg-organisation-list">
    <p-dataTable [value]="organisationList" scrollable="true" scrollHeight="500px">
        <p-column field="name" header="名称"></p-column>
        <p-column field="version" header="版本"></p-column>
        <p-column field="createDate" header="创建时间">
            <template let-col let-org="rowData" pTemplate="body">
                {{org.createDate | date}}
            </template>
        </p-column>
        <p-column field="role" header="角色"></p-column>
        <p-column field="lastVisitDate" header="最后访问日期"></p-column>
        <p-column field="expireDate" header="到期日期"></p-column>
        <p-column field="payStatus" header="付费状态"></p-column>
    </p-dataTable>
</div>