<div class="mg-bg" style="background-color: #449be0;height: 100%;">

    <div class="mg-top">

        <div class="mg-org"><a>Demo Company</a></div>
        <div class="mg-action">
            <a class="mg-search" title="搜索" (click)='addTab("go.common.Contacts","contact")'>&nbsp;</a>
            <a class="mg-help" title="帮助" (click)='addTab("go.common.Report","report")'>&nbsp;</a>
            <a class="mg-attachment" title="附件">&nbsp;</a>
            <a class="mg-user" title="用户">&nbsp;</a>
        </div>

        <div class="mg-tab mg-go-tab">
            <tabset>
                <tab [removable]='false'>
                    <template tabHeading>
                    <span class="mg-tab-inner">
                        <a  class="mg-tab-item" href="###" routerLink = "['/go', {outlets: {dashboard: 'dashboardOutlet'}}]">{{'go.common.Dashboard' | translate}}</a>
                        <a  class="mg-refresh" > &nbsp;</a>
                            </span>
                </template>
                    <div class="mg-frame ">
                        <router-outlet name='dashboardOutlet'></router-outlet>
                    </div>
                </tab>

                <tab [removable]='false' (removed)='removeTab(0)'>
                    <template tabHeading>
                    <span class="mg-tab-inner">
                        <a class="mg-tab-item mg-tab-item-0" href="###"  >{{tabName0}}</a>
                            </span>
                </template>
                    <div class="mg-frame ">
                        <router-outlet name='mgRouter0'></router-outlet>
                    </div>
                </tab>
                <tab [removable]='false' (removed)='removeTab(1)'>
                    <template tabHeading>
                    <span class="mg-tab-inner">
                        <a  class="mg-tab-item  mg-tab-item-1" href="###"  >{{tabName1}}</a>
                            </span>
                </template>
                    <div class="mg-frame ">
                        <router-outlet name='mgRouter1'></router-outlet>
                    </div>
                </tab>
                <tab [removable]='false' (removed)='removeTab(2)'>
                    <template tabHeading>
                    <span class="mg-tab-inner">
                        <a  class="mg-tab-item  mg-tab-item-2" href="###"  >{{tabName2}}</a>
                            </span>
                </template>
                    <div class="mg-frame ">
                        <router-outlet name='mgRouter2'></router-outlet>
                    </div>
                </tab>
                <tab [removable]=' false ' (removed)='removeTab(3) '>
                    <template tabHeading>
                    <span class="mg-tab-inner">
                        <a  class="mg-tab-item  mg-tab-item-3" href="###"  >{{tabName3}}</a>
                            </span>
                </template>
                    <div class="mg-frame ">
                        <router-outlet name='mgRouter3 '></router-outlet>
                    </div>
                </tab>
                <tab [removable]='false ' (removed)='removeTab(4) '>
                    <template tabHeading>
                    <span class="mg-tab-inner">
                        <a  class="mg-tab-item  mg-tab-item-4" href="###"  >{{tabName4}}</a>
                            </span>
                </template>
                    <div class="mg-frame ">
                        <router-outlet name='mgRouter4 '></router-outlet>
                    </div>
                </tab>
                <tab [removable]='false ' (removed)='removeTab(5) '>
                    <template tabHeading>
                    <span class="mg-tab-inner">
                        <a  class="mg-tab-item  mg-tab-item-5" href="###"  >{{tabName5}}</a>
                            </span>
                </template>
                    <div class="mg-frame ">
                        <router-outlet name='mgRouter5 '></router-outlet>
                    </div>
                </tab>
                <tab [removable]='false ' (removed)='removeTab(6) '>
                    <template tabHeading>
                    <span class="mg-tab-inner">
                        <a  class="mg-tab-item  mg-tab-item-6" href="###"  >{{tabName6}}</a>
                            </span>
                </template>
                    <div class="mg-frame ">
                        <router-outlet name='mgRouter6 '></router-outlet>
                    </div>
                </tab>
                <tab [removable]='false ' (removed)='removeTab(7) '>
                    <template tabHeading>
                    <span class="mg-tab-inner">
                        <a  class="mg-tab-item  mg-tab-item-7" href="###"  >{{tabName7}}</a>
                            </span>
                </template>
                    <div class="mg-frame ">
                        <router-outlet name='mgRouter7 '></router-outlet>
                    </div>
                </tab>
                <tab [removable]='false ' (removed)='removeTab(8)'>
                    <template tabHeading>
                    <span class="mg-tab-inner">
                        <a  class="mg-tab-item  mg-tab-item-8" href="###"  >{{tabName8}}</a>
                            </span>
                </template>
                    <div class="mg-frame ">
                        <router-outlet name='mgRouter8 '></router-outlet>
                    </div>
                </tab>
                <tab [removable]='false ' (removed)='removeTab(9) '>
                    <template tabHeading>
                    <span class="mg-tab-inner">
                        <a  class="mg-tab-item  mg-tab-item-9" href="###"  >{{tabName9}}</a>
                            </span>
                </template>
                    <div class="mg-frame ">
                        <router-outlet name='mgRouter9'></router-outlet>
                    </div>
                </tab>
                <tab [removable]='false' [disabled]='true'>
                    <template tabHeading>
                    <span class="mg-tab-inner stable">
                        <a class="mg-tab-item" href="###" >{{'go.common.NewTabName' | translate}}</a>
                    </span>
                </template>
                </tab>
            </tabset>
        </div>
        <div class="mg-bottom">
            <div>
                <div class="mg-left">
                    <ul class="mg-nav-top">
                        <li *ngFor="let nav of navModels;let i = index;" class="mg-nav-item {{nav.className}}" [ngClass]='{ "mg-nav-active":popoverArray && popoverArray[i].isOpen} '>
                            <button class="item-link {{nav.className}}" (click)="selectNav(i)" [popover]="navTemplate" container="body" placement="right">&nbsp;</button>
                            <template #navTemplate> 
                             <mg-nav [navSubModels]="nav.children" [popoverArray]="popoverArray" [popIndex] = "i"></mg-nav>
                        </template>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>